{
  "codi_estacio": "CC",
  "variables": [
    {
      "codi": 1,
      "metadata_variables": {
        "nom": "Pressió atmosfèrica màxima",
        "unitat": "hPa",
        "acronim": "Px",
        "tipus": "DAT",
        "decimals": 1
      },
      "lectures": [
        {
          "data": "2020-11-15T15:00Z",
          "dataExtrem": "2020-11-15T15:23Z",
          "valor": 944.3,
          "estat": " ",
          "baseHoraria": "SH"
        }
      ]
    }
  ],
  "metadata_estacions": {
    "codi_tipus": "A",
    "data_inici": "1995-11-15T00:00:00.000",
    "nom_comarca": "Osona",
    "longitud": "2.20862",
    "nom_estacio": "Orís",
    "nom_municipi": "Orís",
    "latitud": "42.07398",
    "codi_municipi": "573",
    "nom_estat_ema": "Operativa",
    "altitud": "626",
    "nom_xarxa": "XEMA",
    "data_fi": null,
    "emplacament": "Abocador comarcal",
    "codi_provincia": "8",
    "codi_xarxa": "1",
    "codi_estat_ema": "2",
    "nom_provincia": "Barcelona",
    "codi_comarca": "24"
  },
  "geometry": {
    "type": "Point",
    "coordinates": [
      2.20862,
      42.07398
    ]
  }
}
