{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "codi_tipus": "A",
        "data_inici": "2006-10-11T00:00:00.000",
        "nom_comarca": "Barcelonès",
        "longitud": "2.16775",
        "nom_estacio": "Barcelona - el Raval",
        "nom_municipi": "Barcelona",
        "latitud": "41.3839",
        "codi_municipi": "332",
        "nom_estat_ema": "Operativa",
        "codi_estacio": "X4",
        "altitud": "33",
        "nom_xarxa": "XEMA",
        "data_fi": null,
        "emplacament": "Facultat de Geografia i Història. c. Montalegre nº6, 6a",
        "codi_provincia": "8",
        "codi_xarxa": "1",
        "codi_estat_ema": "2",
        "nom_provincia": "Barcelona",
        "codi_comarca": "13"
      },
      "geometry": {
        "type": "Point",
        "coordinates": [
          2.16775,
          41.3839
        ]
      }
    }
  ]
}